In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
import matplotlib.pyplot as plt

import seaborn as sns
import pickle 
import json

In [2]:
df=pd.read_csv("medical_insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
df.select_dtypes(include=object)

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1338 rows x 3 columns]

In [6]:
df['sex'].replace({'male':1,"female":0},inplace=True)
df

      age  sex     bmi  children smoker     region      charges
0      19    0  27.900         0    yes  southwest  16884.92400
1      18    1  33.770         1     no  southeast   1725.55230
2      28    1  33.000         3     no  southeast   4449.46200
3      33    1  22.705         0     no  northwest  21984.47061
4      32    1  28.880         0     no  northwest   3866.85520
...   ...  ...     ...       ...    ...        ...          ...
1333   50    1  30.970         3     no  northwest  10600.54830
1334   18    0  31.920         0     no  northeast   2205.98080
1335   18    0  36.850         0     no  southeast   1629.83350
1336   21    0  25.800         0     no  southwest   2007.94500
1337   61    0  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [7]:
df['smoker'].replace({"yes":1,"no":0},inplace=True)

In [8]:
df=pd.get_dummies(df,columns=['region'])

df

In [9]:
df

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,10600.54830,0,1,0,0
1334,18,0,31.920,0,0,2205.98080,1,0,0,0
1335,18,0,36.850,0,0,1629.83350,0,0,1,0
1336,21,0,25.800,0,0,2007.94500,0,0,0,1
1337,61,0,29.070,0,1,29141.36030,0,1,0,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   sex               1338 non-null   int64
 2   bmi               1338 non-null   float64
 3   children          1338 non-null   int64
 4   smoker            1338 non-null   int64
 5   charges           1338 non-null   float64
 6   region_northeast  1338 non-null   uint8
 7   region_northwest  1338 non-null   uint8
 8   region_southeast  1338 non-null   uint8
 9   region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 68.1 KB

# train test split

In [11]:
x=df.drop('charges',axis=1)
x

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,0,0,0,1
1,18,1,33.770,1,0,0,0,1,0
2,28,1,33.000,3,0,0,0,1,0
3,33,1,22.705,0,0,0,1,0,0
4,32,1,28.880,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,0,1,0,0
1334,18,0,31.920,0,0,1,0,0,0
1335,18,0,36.850,0,0,0,0,1,0
1336,21,0,25.800,0,0,0,0,0,1
1337,61,0,29.070,0,1,0,1,0,0

In [12]:
y=df['charges']
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)
x_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
216,53,0,26.600,0,0,0,1,0,0
731,53,1,21.400,1,0,0,0,0,1
866,18,1,37.290,0,0,0,0,1,0
202,60,0,24.035,0,0,0,1,0,0
820,45,1,33.700,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
715,60,1,28.900,0,0,0,0,0,1
905,26,0,29.355,2,0,1,0,0,0
1096,51,0,34.960,2,1,1,0,0,0
235,40,0,22.220,2,1,0,0,1,0
1061,57,1,27.940,1,0,0,0,1,0

In [14]:
y_train

216     10355.64100
731     10065.41300
866      1141.44510
202     13012.20865
820      7445.91800
           ...
715     12146.97100
905      4564.19145
1096    44641.19740
235     19444.26580
1061    11554.22360
Name: charges, Length: 1070, dtype: float64

In [15]:
x_test

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
559,19,1,35.530,0,0,0,1,0,0
1087,57,1,31.540,0,0,0,1,0,0
1020,51,1,37.000,0,0,0,0,0,1
460,49,0,36.630,3,0,0,0,1,0
802,21,1,22.300,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
682,39,1,35.300,2,1,0,0,0,1
629,44,0,38.950,0,1,0,1,0,0
893,47,1,38.940,2,1,0,0,1,0
807,19,0,36.575,0,0,0,1,0,0
1165,35,0,26.125,0,0,1,0,0,0

In [16]:
y_test

559      1646.42970
1087    11353.22760
1020     8798.59300
460     10381.47870
802      2103.08000
           ...
682     40103.89000
629     42983.45850
893     44202.65360
807      2136.88225
1165     5227.98875
Name: charges, Length: 268, dtype: float64

In [17]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

### Evaluation on test data

In [18]:
y_pred=model.predict(x_test)
y_pred[1:6]

array([12885.03892192, 12589.21653212, 13286.22919217,   544.72832757,
       32117.58400779])

In [19]:
mse=mean_squared_error(y_test,y_pred)
mse

35479352.80730363

In [20]:
rmse=np.sqrt(mse)
rmse

5956.454717976427

In [21]:
mae=mean_absolute_error(y_test,y_pred)
mae

4051.858766747046

In [22]:
r2=r2_score(y_test,y_pred)
r2

0.7623311844057112

### Evaluation on train data

In [23]:
y_pred_train=model.predict(x_train)
y_pred_train[1:6]

array([ 8494.95651816,  4049.96586839, 11485.89042227, 10390.98382582,
       10046.04733108])

In [24]:
mse=mean_squared_error(y_train,y_pred_train)
mse

36787756.370462015

In [25]:
rmse=np.sqrt(mse)
rmse

6065.291120009164

In [26]:
mae=mean_absolute_error(y_train,y_pred_train)
mae

4168.751118732005

In [27]:
r2=r2_score(y_train,y_pred_train)
r2

0.7477680686451552

#### testing on single row

In [28]:
x.tail(1).T

                   1337
age               61.00
sex                0.00
bmi               29.07
children           0.00
smoker             1.00
region_northeast   0.00
region_northwest   1.00
region_southeast   0.00
region_southwest   0.00

In [29]:
age=61.00
sex='female'
bmi=29.07
children=0.00
smoker='yes'
region='northwest'

In [30]:
labled_data={"sex":{'male':1,'female':0},
                   'smoker':{"yes":1,"no":0},
                  "columns":list(x.columns)
            }

In [31]:
column_names=x.columns
column_names

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [32]:
region="region_"+"southwest"
region_index=np.where(column_names==region)[0][0]
region_index

8

In [33]:
test_array=np.zeros(x.shape[1])
test_array[0]=age
test_array[1]=labled_data['sex'][sex]
test_array[2]=bmi
test_array[3]=children
test_array[4]=labled_data['smoker'][smoker]
test_array[region_index]=1
test_array

array([61.  ,  0.  , 29.07,  0.  ,  1.  ,  0.  ,  0.  ,  0.  ,  1.  ])

In [34]:
model.predict([test_array])

C:\Users\SMART\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([36642.29650024])

In [35]:
with open ("linear_model.pkl",'wb')as f:
    pickle.dump(model,f)

In [36]:
with open ('labled_data.json',"w")as f:
    json.dump(labled_data,f)